<div>
  <div class="container">

    <%= render partial: "shared/leagueidform" %>

    <%= form_tag session_path, class: "form-login", id: "sign-in-form" do %>
      <h2 class="form-login-heading">sign in now</h2>
      <%= flash_messages %>
      <div class="login-wrap">
        <%= text_field_tag :username, "", class: "form-control", placeholder: "Username" %>
        <br>
        <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
        <br>
        <%= button_tag class: "btn btn-theme btn-block", type: "submit" do %>
          <i class="fa fa-lock"></i> SIGN IN
        <% end -%>
        <hr>

        <div class="registration">
            Don't have an account yet?<br/>
            <%= link_to "Create an account", new_user_path %>
        </div>
      </div>

    <% end -%>

  </div>
</div>
