<h3><i class="fa fa-angle-right"></i> League Results for <%= @league.name %></h3>
<div class="row">
  <div class="col-md-12 mt">
    <div class="content-panel">

      <h4><i class="fa fa-angle-right"></i> League Stats</h4>
      <hr>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><i class="fa fa-bullhorn"></i> Category</th>
            <th><i class="fa fa-users"></i> Team</th>
            <th><i class="fa fa-bolt"></i> Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Best Season Total</td>
            <td><%= @league.highest_season_total[1] %></td>
            <td><%= @league.highest_season_total[0] %></td>
          </tr>
          <tr>
            <td>Worst Season Total</td>
            <td><%= @league.lowest_season_total[1] %></td>
            <td><%= @league.lowest_season_total[0] %></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover">
        <thead>
          <tr>
            <th><i class="fa fa-bullhorn"></i> Category</th>
            <th><i class="fa fa-users"></i> Team</th>
            <th><i class="fa fa-bolt"></i> Score</th>
            <th><i class="fa fa-calendar"></i> Week</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Best Individual Score</td>
            <td><%= @league.best_week[1] %></td>
            <td><%= @league.best_week[0] %></td>
            <td><%= @league.best_week[2] %></td>
          </tr>
          <tr>
            <td>Worst Individual Score</td>
            <td><%= @league.worst_week[1] %></td>
            <td><%= @league.worst_week[0] %></td>
            <td><%= @league.worst_week[2] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: "leagues/team_stats" %>
