<div>
  <div class="container">

    <%= form_for @user, class: "form-login", id: "sign-in-form" do |user_fields| %>
      <h2 class="form-login-heading">sign up</h2>
      <%= flash_messages %>
      <div class="login-wrap">
        <%= user_fields.text_field :username, class: "form-control", placeholder: "Username" %>
        <br>
        <%= user_fields.password_field :password, class: "form-control", placeholder: "Password" %>
        <br>
        <%= user_fields.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password" %>
        <br>
        <%= button_tag class: "btn btn-theme btn-block", type: "submit" do %>
          <i class="fa fa-lock"></i> SIGN UP
        <% end -%>
        <hr>
      </div>

    <% end -%>

  </div>
</div>