<!DOCTYPE html>
<html>
<head>
  <title>MrCommissioner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container" >

    <%= render partial: 'shared/top_bar' %>


    <%= render partial: 'shared/sidebar' %>


    <section id="main-content">
      <section class="wrapper">
        <%= flash_messages %>
        <%= yield %>
      </section>
    </section>

    <%= render partial: 'shared/footer' %>

  </section>

</body>
</html>
