<!DOCTYPE html>
<html>
<head>
  <title>MrCommissioner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id = "login-page">

  <%= yield %>

  <%= javascript_tag do %>
    $.backstretch("<%= asset_url 'login-bg.jpg' %>", {speed: 500});
  <% end -%>

</body>
</html>


